
.App {
border: red solid 5px;
}
.Todo {
  border: blue solid 3px;

  }
  .Todo span{
    margin: 0px 10px;
    
  }
  .Add {
    border: green solid 3px;

    }
    #aa{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left:-20px ;
    }

    .Login form{
      max-width: 75%;
   
    }
.hy{
  width: 400px;
}